<?xml version="1.0" encoding="UTF-8"?>
<config>
	<TileLoader>
		<authURL>
			<![CDATA[
				http://photogrid.photocafe.ru/auth.php			
			]]>
		</authURL>
		<imageFormatConfigURL>
			<![CDATA[
				http://photogrid.photocafe.ru/imageformats.xml			
			]]>
		</imageFormatConfigURL>
		<imageUploadURL>
			<![CDATA[
				http://photogrid.photocafe.ru/upload.php				
			]]>
		</imageUploadURL>
	</TileLoader>	
</config>